{% extends "base.html.twig" %}
{% macro recursiveCategory(comment) %}
    {% import _self as macros %}

    <li class="collection-item">
        <h5><a href="/posts/users/{{ comment.getUser().getId() }}">{{ comment.getUser().getEmail() }}</a></h5>

        <div>{{ comment.body }} <br>
            {% if global.session.get('user') is defined %}
                <a href="#textarea1" id="parent-comment-js" data-id="{{ comment.id }}"><span class="material-icons">chat_bubble_outline</span></a>
            {% endif %}
        </div>
        {% if comment.comments|length %}
            <ul class="collection with-header">
                {% for child in comment.comments %}
                    {{ macros.recursiveCategory(child) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

{% import _self as macros %}
{% block content %}
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">
                        {{ post.title }}
                    </div>
                    {% if post.image == null %}
                        <img src="/upload/index.png">
                    {% else %}
                        <img src="/upload/{{ post.image }}">
                    {% endif %}
                    <div class="content">
                        {% autoescape %}
                            {{ post.body | raw }}
                        {% endautoescape %}
                    </div>
                </div>
                <div class="card-action">
                    <a href="/posts/users/{{ post.user.id }}"> {{ post.user.email }}</a>
                    <span class="right"> {{ post.createdAt }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">

            <div class="card">
                {% if comments %}
                    <div class="card-title"><h4>Comments</h4></div>
                    <ul class="collection with-header">
                        {% for comment in comments %}
                            {{ macros.recursiveCategory(comment) }}
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
    {% if global.session.get('user') is defined %}
        <div class="row">
            <form action="/posts/{{ post.id }}/comments" method="post" class="col m12 s12">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea name="body" id="textarea1" class="materialize-textarea"></textarea>
                                <label for="textarea1">Textarea</label>
                            </div>
                        </div>
                        <input hidden value name="parent_id" id="parent">

                        <div class="row">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="submit" class="waves-effect waves-light btn">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}